.DS_Store
.idea/

###> symfony/framework-bundle ###
project/.env
project/.env.local
project/.env.local.php
project/.env.*.local
project/config/secrets/prod/prod.decrypt.private.php
project/public/bundles/
project/var/
project/vendor/
###< symfony/framework-bundle ###
